.container {
  height: auto; /* Ensure the container height adjusts to content */
  width: 100%;
  background-image: url("../../assets/images/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding: 20px; /* Add padding to the container */
  box-sizing: border-box; /* Include padding in width calculations */
  overflow: hidden; /* Prevent overflow */
}

.contact-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center items vertically */
  max-width: 600px; /* Ensure the container takes full width */
  margin: auto; /* Center the container */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculations */
  overflow: hidden; /* Prevent overflow */
}

form,
.contact-result {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width of the container */
  padding: 20px; /* Add padding for better spacing */
  border: 1px solid #ccc; /* Optional: Add border */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* White background with transparency for contrast */
  box-sizing: border-box; /* Include padding in width calculations */
  margin: 0; /* Remove default margin */
}

mat-form-field {
  margin-bottom: 20px; /* Space below each field */
  width: 100%; /* Full width for form fields */
}

button {
  margin-top: 10px; /* Space above the button */
  width: 100%;
}

.contact-result {
  text-align: center; /* Center the text */
  margin-top: 20px; /* Optional: Add some margin above the result */
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .contact-container {
    padding: 10px; /* Adjust padding on small screens */
  }

  form {
    padding: 15px; /* Adjust padding for better spacing */
  }

  mat-form-field {
    margin-bottom: 15px; /* Space below each field */
    width: 100%; /* Full width for form fields */
  }

  button {
    width: 100%; /* Full width button on small screens */
  }

  .contact-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
