<div>
  <mat-toolbar class="nav-bar">
    <div class="brand">
      <button
        mat-button
        class="home-button"
        [routerLink]="['/home']"
        routerLinkActive="active-home"
      >
        Likewise Handyman
      </button>
    </div>
    <span class="spacer"></span>
    <div class="tools">
      <button
        mat-button
        [routerLink]="['/contact']"
        routerLinkActive="active-contact"
        class="underline"
      >
        <b>{{ "contact" | translate }}</b>
      </button>

      <!-- <button mat-button [routerLink]="['/home']" routerLinkActive="active-service" class="underline">{{ 'service' | translate }}</button> -->

      <button
        mat-button
        [routerLink]="['/about']"
        routerLinkActive="active-about"
        class="underline"
      >
        <b>{{ "about" | translate }}</b>
      </button>
      <button mat-button disabled class="spacer-button"></button>

      @if (this.translate.currentLang !== 'zh') {
      <button mat-button (click)="changeLanguage('zh')"><b>中文</b></button>
      } @if (this.translate.currentLang !== 'en') {
      <button mat-button (click)="changeLanguage('en')"><b>English</b></button>
      } @if (this.translate.currentLang !== 'es') {
      <button mat-button (click)="changeLanguage('es')"><b>Español</b></button>
      }
    </div>
  </mat-toolbar>
</div>
