<div>
  <mat-toolbar class="nav-bar">
    <div class="brand">
      <button mat-button class="home-button" [routerLink]="['/home']" routerLinkActive="active-home">Likewise Handyman</button>
    </div>
    <span class="spacer"></span>
    <div class="tools">
      <button mat-button [routerLink]="['/contact']" routerLinkActive="active-contact" class="underline">{{ 'contact' | translate }}</button>
      <button mat-button [routerLink]="['/home']" routerLinkActive="active-service" class="underline">{{ 'service' | translate }}</button>
      <button mat-button [routerLink]="['/about']" routerLinkActive="active-about" class="underline">{{ 'about' | translate }}</button>
      <button mat-button disabled class="spacer-button"></button>
      @if (this.translate.currentLang !== 'zh') {
        <button mat-button (click)="changeLanguage('zh')">中文</button>
      } @if (this.translate.currentLang !== 'en') {
        <button mat-button (click)="changeLanguage('en')">English</button>
      } @if (this.translate.currentLang !== 'es') {
        <button mat-button (click)="changeLanguage('es')">Español</button>
      }
    </div>
  </mat-toolbar>
</div>
