.image-content-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/images/remodeling.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 70vh;
}

.company-title {
  font-size: 2rem;
  font-weight: bold;
}

.company-description {
  font-size: 1.5rem;
}

.cta {
  font-size: 1.2rem;
}

.cta a {
  text-decoration: none;
  color: #ffffff;
}

.company-description {
  font-size: 1.5rem;
  max-width: 50%;
  margin: 10px 0;
}

.mat-dark {
  background-color: #414141;
  color: #fff;
}

@media (max-width: 700px) {
  .company-title,
  .cta span {
    font-size: 1.5rem;
  }

  .company-description {
    font-size: 1.2rem;
  }
}
