<div class="container">
  <div class="image-content-block">
    <span class="company-title">Likewise Handyman</span>
    <span class="company-description">
      {{ "companyDescription" | translate }}
    </span>
    <br />
    <button mat-flat-button class="cta" color="primary">
      <a href="tel:+14076991123"><b>📞(407) 699-1123</b></a>
    </button>
    <br />
    <button mat-flat-button class="cta" color="primary" routerLink="/contact">
      📅
      <a href="/contact">
        {{ "scheduleConsultation" | translate }}
      </a>
    </button>
  </div>
  <app-service></app-service>
</div>
