<div class="container">
  <div class="image-content-block">
    <span class="company-title">Likewise Ventures</span>
    <span class="company-description">
      {{ "companyDescription" | translate }}
    </span>
    <br />
    <button mat-flat-button class="cta" color="primary">
      <a href="tel:+14076991123"><b>📞(407) 699-1123</b></a>
    </button>
    <br />
    <button mat-flat-button class="cta" color="primary" routerLink="/contact">
      📅
      <a href="/contact">
        {{ "scheduleConsultation" | translate }}
      </a>
    </button>
  </div>
  <div class="about-content-block">
    <div class="about-us">
      <div class="about-us-text">
        <h2 class="about-us-title">{{ "ourMissionTitle" | translate }}</h2>
        <p class="about-us-description">
          {{ "ourMissionDescription" | translate }}
        </p>
      </div>
      <div class="about-us-image-container">
        <img
          class="about-us-image"
          src="../../assets/images/logo.png"
          alt="About Us"
        />
      </div>
      <div class="about-us-text">
        <h2 class="about-us-title">{{ "aboutUsTitle" | translate }}</h2>
        <p class="about-us-description">
          {{ "aboutUsDescription" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="why-us-content-block">
    <div class="why-us-image">
      <img src="../../assets/images/why-us.jpg" alt="Why Us" />
    </div>
    <div class="why-us-text">
      <h2>{{ "whyUsTitle" | translate }}</h2>
      <ul>
        <li>
          <strong>{{ "whyUsListTitle1" | translate }}</strong
          >{{ "whyUsList1" | translate }}
        </li>
        <li>
          <strong>{{ "whyUsListTitle2" | translate }}</strong
          >{{ "whyUsList2" | translate }}
        </li>
        <li>
          <strong>{{ "whyUsListTitle3" | translate }}</strong
          >{{ "whyUsList3" | translate }}
        </li>
        <li>
          <strong>{{ "whyUsListTitle4" | translate }}</strong
          >{{ "whyUsList4" | translate }}
        </li>
        <li>
          <br />
          <strong>{{ "WhyUsFooter" | translate }}</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
